.release,
.release:visited {
	font-weight: bold;
	color: #2671c6;
}

.table th,
.table td {
	padding: 10px 6px 10px 0;
}

.table td {
	font-weight: bold;
}

.uptime {
	border-bottom: 2px dotted #000;
	cursor: default;
}