{
	"extends": "airbnb",
	"env": {
		"browser": true
	},
	"rules": {
		"no-tabs": 0,
		"comma-dangle": ["error", "never"],
		"indent": [
			"error",
			"tab"
		],
		"react/prop-types": 0,
		"react/no-deprecated": 0,
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": 0,
		"import/extensions": 0,
		"import/no-unresolved": 0,
		"eqeqeq": "off",
		"import/no-extraneous-dependencies": 0,
		"no-mixed-operators": 0,
		"jsx-a11y/no-static-element-interactions": 0,
		"jsx-a11y/label-has-for": 0,
		"no-param-reassign": 0,
		"no-underscore-dangle": 0,
		"no-plusplus": 0,
		"no-multi-assign": 0,
		"default-case": 0,
		"no-nested-ternary": 0,
		"no-throw-literal": 0,
		"no-shadow": 0,
		"max-len": [1, 120]
	},
	"globals": {
		"assert": true
	}
}
