.table {
	table-layout: fixed;
}

.tabs {
	margin-bottom: 30px;
}

.tabs_ssl {
	margin-bottom: 11px;
}

.tab {
	display: inline-block;
	width: 118px;
}

.tab-s {
	width: 45px;
}

.tab span {
	border-bottom: 1px dashed #000000;
	cursor: pointer;
	white-space: nowrap;
}

.tab-active {
	composes: tab;
}

.tab-active span {
	font-weight: bold;
	border-bottom: 0;
}

.counter {
	float: right;
	color: #929292;
	letter-spacing: -1px;
	font-size: 15px;
}

.table {
	width: 100%;
}

.table td {
	font-size: 24px;
}

.h3 {
	font-weight: bold;
	margin: 0 0 30px;
	font-size: 16px;
}

.current {}

.current__sec {
	font-size: 16px;
}

.ssl td {
	font-size: 22px;
}

.ssl td:first-child {
	width: 16%;
	padding-top: 4px;
	font-size: inherit;
	line-height: 26px;
}