.icon {
	display: inline-block;
	font-size: 0;
	background-size: 100%;
}

.sun {
	composes: icon;
	background-image: url('/img/sun.svg');
	width: 21px;
	height: 21px;
}

.snowflake {
	composes: icon;
	background-image: url('/img/snowflake.svg');
	width: 19px;
	height: 21px;
}

.ok {
	composes: icon;
	background-image: url('/img/ok.svg');
}

.warning {
	composes: icon;
	background-image: url('/img/warning.svg');
}

.danger {
	composes: icon;
	background-image: url('/img/danger.svg');
}

.gear {
	composes: icon;
	background-image: url('/img/gear.svg');
	width: 24px;
	height: 24px;
}

.pencil {
	composes: icon;
	background-image: url('/img/pencil.svg');
}