.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	background: #f2f2f2;
	padding: 0 0 0 26px;
	height: 60px;
	box-sizing: border-box;
	min-width: 1250px;
	display: flex;
}

.logo {
	composes: logo from '../../style.css';
	width: 120px;
	height: 44px;
	background-size: contain;
	padding: 8px 24px;
	background-origin: content-box;
	background-position: center;
	flex: 0 0 auto;
}

.logoactive {
	composes: logo;
	background-color: #fff;
}

.nav {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;
}

.nav-small {}

.nav-wide {}

.nav-flex {
	flex: 1 1 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
	overflow: hidden;
}

.navlink {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #333;
	padding: 16px 20px 17px;
	border-left: 2px solid #fff;
	line-height: 26px;
}

.navlink:hover {
	background-color: #fafafa;
}

.nav-flex .navlink {
	flex: 0 1 auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.navlinkactive {
	composes: navlink;
}

.navlinkactive,
.navlinkactive:hover {
	background: #fff;
}

.anchor {
	border-bottom: 1px dashed #333;
}

.navlinkactive .anchor {
	border-bottom: 0;
}

.status {
	vertical-align: middle;
	margin-right: 5px;
	margin-left: -10px;
	width: 26px;
	height: 26px;
}

.settings {
	composes: navlink;
	padding: 0 10px 0 0;
	width: 60px;
	height: 60px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
	opacity: .8;
	flex: 0 0 auto;
}

.settings:hover {
	opacity: 1;
}

@media screen and (max-width: 1640px) {
	.nav-wide .navlink {
		padding-left: 10px;
		padding-right: 10px;
	}

	.nav-wide .status {
		width: 20px;
		height: 20px;
		margin-left: auto;
	}

	.nav-wide .settings {
		width: 40px;
	}

	.nav-wide .anchor {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 1500px) {
	.nav-small .navlink {
		padding-left: 10px;
		padding-right: 10px;
	}

	.nav-small .status {
		margin-left: auto;
	}

	.nav-small .settings {
		width: 40px;
	}
}


@media screen and (max-width: 1390px) {
	.logo {
		width: 127px;
		height: 36px;
		padding-top: 12px;
		padding-bottom: 12px;
	}

	.nav-wide .anchor {
		font-size: 0.8em;
	}

	.nav-small .anchor {
		font-size: 0.9em;
	}
}
