@font-face {
	font-family: 'Open Sans';
	font-weight: 300;
	font-style: normal;
	src: url('npm-font-open-sans/fonts/Light/OpenSans-Light.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
	src: url('npm-font-open-sans/fonts/Regular/OpenSans-Regular.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	src: url('npm-font-open-sans/fonts/Semibold/OpenSans-Semibold.woff') format('woff');
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: normal;
	src: url('npm-font-open-sans/fonts/Bold/OpenSans-Bold.woff') format('woff');
	font-display: fallback;
}
