<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>

		<% if(__ENV__ === 'demo' || __ENV__ === 'development') { %>
			<script async src="https://www.googletagmanager.com/gtag/js?id=<%= GA_ID %>"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('config', '<%= GA_ID %>');
			</script>
		<% } %>
	</head>
	<body></body>
</html>