.progress-bar {
	height: 22px;
	line-height: 22px;
	padding-left: 10px;
	position: relative;
	border-radius: 4px;
	border-top: 1px solid #babdc1;
	background-color: #e1e5e9;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	width: 130px;
}

.fulfillment {
	height: 22px;
	padding-left: 10px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #5191d1;
	border-bottom: 1px solid #1a6baf;
	color: #fff;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
}

.danger .fulfillment {
	background-color: #dc3609;
	border-color: #6b1a04;
}

.warning .fulfillment {
	background-color: #F0C946;
	border-color: #F0C946;
}